#!/usr/bin/make -f

PACKAGE = uhub-unstable
DEVELOPER = janvidar
PROJECT = uhub

DEB_DH_INSTALL_SOURCEDIR = $(CURDIR)/debian/$(PACKAGE)

CUR_VER = $(shell uscan --dehs | sed -n 's/.*<upstream-version>\(.*\)<\/upstream-version>.*/\1/p')

CPPFLAGS:=$(shell dpkg-buildflags --get CPPFLAGS)
CFLAGS:=$(shell dpkg-buildflags --get CFLAGS) $(CPPFLAGS)
LDFLAGS:=$(shell dpkg-buildflags --get LDFLAGS) -Wl,--as-needed
export CPPFLAGS CFLAGS LDFLAGS

MAKEOPTS := DESTDIR=$(DEB_DH_INSTALL_SOURCEDIR) \
            UHUB_PREFIX=$(DEB_DH_INSTALL_SOURCEDIR)/usr \
            RELEASE=YES \
            USE_SSL=YES \
            SILENT=NO

%:
	dh $@ --parallel

override_dh_auto_build:
	dh_auto_build -- $(MAKEOPTS)

override_dh_auto_clean:
	dh_testroot
	rm -f build-stamp
	$(MAKE) clean

override_dh_auto_install:
	$(MAKE) install $(MAKEOPTS)
	chmod 0750 $(DEB_DH_INSTALL_SOURCEDIR)/var/log/uhub

.PHONY: override_dh_installman
override_dh_installman:
	dh_installman -A

get-orig-source:
	# preparation
	rm -rf "$(PACKAGE)-$(CUR_VER)" "$(CUR_VER)"
	# sources
	wget -4 "http://nodeload.github.com/$(DEVELOPER)/$(PROJECT)/tarball/$(CUR_VER)"
	rm -rf $(DEVELOPER)-$(PROJECT)-*
	tar xzf "$(CUR_VER)"
	mv $(DEVELOPER)-$(PROJECT)-* "$(PACKAGE)-$(CUR_VER)"
	# tarball
	tar -cJf "$(PACKAGE)_$(CUR_VER).orig.tar.xz" "$(PACKAGE)-$(CUR_VER)"
	# cleaning
	rm -rf "$(PACKAGE)-$(CUR_VER)" "$(CUR_VER)"

.PHONY: override_dh_auto_test override_dh_fixperms
